---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Activities from '../components/Activities.astro';
import Gallery from '../components/Gallery.astro';
import Partners from '../components/Partners.astro';
import Publications from '../components/Publications.astro';
import Join from '../components/Join.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

// Welcome to DeepLearner Astro Website.
---

<Layout title="DeepLearner 人工智能学习社">
	<Navbar />
	<main class="w-full flex-grow">
		<Hero />
		<About />
		<Activities />
		<Gallery />
		<Partners />
		<Publications />
		<Join />
		<Contact />
	</main>
	<Footer />
</Layout>
